<div class="row">
    <div class="col-xl-9">
        <div class="card border-0">
            <div class="card-body">
                <h2>Flight</h2>
                <div>
                    <label class="form-label">Airline Name</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">Flight Number</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">FromPlace</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">ToPlace</label>
                    <input class="form-control" type="text" />
                </div>

                <div>
                    <label class="form-label">StartDatetime</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">EndDatetime</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">ScheduleDays</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">InstrumentUsed</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">BusinessClassSeats</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">NonBusinessClassSeats</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">TicketPrice</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">NoOfRows</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">Meal</label>
                    <input class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">AirlineLogo</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="py-4">
                    <input type="submit" class="btn btn-primary" value="Add Flight" />
                </div>
            </div>
        </div>
    </div>
</div>